[submodule "config/.config/yazi/flavors"]
	path = config/.config/yazi/flavors
	url = https://github.com/yazi-rs/flavors.git
[submodule "config/.config/nvim"]
	path = config/.config/nvim
	url = https://github.com/nkeneng/nvim.git
